<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
    
<header>
  <%- include('../partials/header'); %>
</header>
<main class="justify-content-center d-flex">
  <div class="jumbotron text-center mt-2">
    <h2><%= TOD %>Harry</h2>
    <p class="text-center text-muted mt-5">The Current Date is <%= date %></p>
    <p class="text-center text-muted">The Time is <span id="clock"></span></p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>